@model Pizzaria.Models.DTO.PedidoDTO
@{
    ViewBag.Title = "Relatório";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-responsive">
    <h2>Relatório de consumo do cliente</h2>
  
    <div class="form-group">
        @Html.Label("Cliente", new { @class = "control-label" })
        <div class="col-md-12">
            @Html.DropDownList("IdCliente", (IEnumerable<SelectListItem>)ViewBag.Cliente, "Selecione o cliente")
            @Html.ValidationMessage("IdCliente")
        </div>
    </div>
    
    <div class="divider"></div>
    
    @Model.QuantidadeTotalPedidos pedidos cadastrados
    <table class="table table-striped .table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeTotalProdutos)
            </th>
            <th class="width10">
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th class="width10">
                %
            </th>
        </tr>

        <tr>
            <td>
                @Model.QuantidadeTotalProdutos
            </td>
            <td>
                @Model.ValorTotal
            </td>
            <td>
                @{
                    string porcentagemTotal = "0%";
                    if (Model.ValorTotal != 0)
                    {
                        porcentagemTotal = ((Model.ValorTotal * 100 / Model.ValorTotal) / 100).ToString("P");
                    }
                }
                @porcentagemTotal
            </td>
        </tr>

    </table>
    <div class="divider"></div>

    Pizza
    <table class="table table-striped .table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeTotalPizza)
            </th>
            <th class="width10">
                @Html.DisplayNameFor(model => model.ValorPizza)
            </th>
            <th class="width10">
                %
            </th>
        </tr>
        <tr>
            <td>
                @Model.QuantidadeTotalPizza
            </td>
            <td>
                @Model.ValorPizza
            </td>
            <td>
                @{
                    string porcentagemTotalPizza = "0%";
                    if (Model.ValorTotal != 0)
                    {
                        porcentagemTotalPizza = ((Model.ValorPizza * 100 / Model.ValorTotal) / 100).ToString("P");
                    }
                }
                @porcentagemTotalPizza
            </td>
        </tr>
    </table>
    
    <div class="divider"></div>

    Bebida
    <table class="table table-striped .table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeTotalBebidas)
            </th>
            <th class="width10">
                @Html.DisplayNameFor(model => model.ValorBebida)
            </th>
            <th class="width10">
                %
            </th>
        </tr>

        <tr>
            <td>
                @Model.QuantidadeTotalBebidas
            </td>
            <td>
                @Model.ValorBebida
            </td>
            <td>
                @{
                    string porcentagemTotalBebida = "0%";
                    if (Model.ValorTotal != 0)
                    {
                        porcentagemTotalBebida = ((Model.ValorBebida * 100 / Model.ValorTotal) / 100).ToString("P");
                    }
                }
                @porcentagemTotalBebida
            </td>
        </tr>

    </table>
    
    <div class="divider"></div>

    Bebida
    <table class="table table-striped .table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeTotalSobremesa)
            </th>
            <th class="width10">
                @Html.DisplayNameFor(model => model.ValorSobremesa)
            </th>
            <th class="width10">
                %
            </th>
        </tr>

        <tr>
            <td>
                @Model.QuantidadeTotalSobremesa
            </td>
            <td>
                @Model.ValorSobremesa
            </td>
            <td>
                @{
                    string porcentagemTotalSobremesa = "0%";
                    if (Model.ValorTotal != 0)
                    {
                        porcentagemTotalSobremesa = ((Model.ValorSobremesa * 100 / Model.ValorTotal) / 100).ToString("P");
                    }
                }
                @porcentagemTotalSobremesa
            </td>
        </tr>

    </table>
    
    <div class="divider"></div>

</div>


<script>

    $(document).ready(function ($) {

        $("body").on("change", "#IdCliente", function () {
            var idCliente = $(this).val();
            var caminho = "/Relatorio/Lista/?idCliente=" + idCliente;
            window.location.href = caminho; 
        });
    });

</script>