@model Pizzaria.Models.Entity.Cliente

@{
    ViewBag.Title = "Cadastro de Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Endereco.Cidade.Id)
    
    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cpf, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cpf)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Telefone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Endereco.Logradouro)
            </div>
        </div>
      
            <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Logradouro, new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Endereco.Logradouro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Logradouro)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Numero, new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Endereco.Numero, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Numero)
                </div>
            </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.Endereco.Complemento, new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Endereco.Complemento, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Endereco.Complemento)
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Bairro, new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Endereco.Bairro, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco.Bairro)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Cep, new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Endereco.Cep, new { @class = "form-control" })
                </div>
            </div>  

            <div class="form-group">
                @Html.Label("Cidade", new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.DropDownList("IdCidade", (IEnumerable<SelectListItem>)ViewBag.Cidade, "Selecione a cidade")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" formaction="@Url.Action("Salvar", "Cliente")" value="Salvar" class="btn btn-default" />
                    <input type="submit" formaction="@Url.Action("Excluir", "Cliente")" value="Excluir" class="btn btn-default/">
                </div>
            </div>
        </div>
}
<div>
    @Html.ActionLink("Voltar", "Lista")
</div>

<script>

    $(document).ready(function () {
        $("body").on("change", "#IdCidade", function () {
            // Setar id da cidade
            $("#Endereco_Cidade_Id").val($(this).val());
        });
    });

</script>