@model IEnumerable<Pizzaria.Models.Entity.Pedido>
@{
    ViewBag.Title = "Lista de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <h2>Lista de Pedidos</h2>
    <p>
        <a id="novo-pedido" style="cursor: pointer">Novo pedido</a>
    </p>
    <table class="table table-striped .table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Cadastro", new { id = item.Id }) |
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.Id }, new { onclick = "return confirm('Confirma exclusão do item?');" })
                </td>
            </tr>
        }
    </table>
</div>

<div id="modalClientePedido" class="modal fade" role="dialog" style="display: table;  margin: 0 auto; width: 350px;">
    <div class="modal-dialog"></div>
</div>

<script>
    $(document).ready(function () {

        $("body").on("click", "#novo-pedido", function () {
            var url = "@Url.Action("SelecionarCliente", "Pedido")";
            $.post(url, function (data)
            {
                $("#modalClientePedido").html(data);
                $("#modalClientePedido").modal();
            });
        });

    });
</script>
